@addTagHelper *, Microsoft.ApsNetCore.Mvc.TagHelpers
@model DashBoard.Models.User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="login"> 
    <form asp-action="Login" asp-controller="Home" method="post">
        <p>Username</p>
        <input type="text" class="name" asp-for="Username" />
        <p>Password</p>
        <input type="password" class="password" asp-for="Password" />
        <input type="checkbox" class="checkbox" />
        <input type="submit" value="Login" />
        </form>  
        </div>
